<div class="wrapper" style="padding: 20px">
  <app-table
    *ngFor="let service of serviceInfo"
    [serviceInfo]="service"
  ></app-table>
</div>
<app-reactive-form
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    direction: rtl;
    padding: 10px;
  "
></app-reactive-form>
<!-- FOR SEND FORM  -->
<!-- <app-reactive-form
  (valuesForms)="onSetForms($event)"
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    direction: rtl;
    padding: 10px;
  "
></app-reactive-form> -->
